@media screen and (max-width: 1440px) {
    body {
        width: 100%;
    }
}


@media (max-width: 768px) {
    .nav .menu {
        display: none; 
    }
 
    .nav-toggle {
        display: block; 
        font-size: 30px;
        padding: 0px 20px;
        color: #fff;
    }

    .link, .item {
        margin-bottom: 30px;
    }

    .header {
        padding-top: 4em;
        flex-direction: column;
    }

    .header .imagen {
        margin-top: 100px;
    }

    .sobre_mi {
        margin-top: 2em;
    }

    .sobre_mi .container_sobre_mi {
        flex-direction: column;
        padding: 2em 0px;
    }

    .container_sobre_mi .sobre-imagen {
        display: block;
        margin: 2em auto;
        max-width: 300px;
    }

    .container_sobre_mi .contenido_texto {
        text-align: center;
        margin: 0px 0px;
        padding: 0;
    }

    .proyectos {
        width: 100%;
        min-height: 100vh;
        margin: 3em 0em;
    }

    .proyectos .card_pro {
        flex-direction: column;
        margin-bottom: 3em;
    }

    .contenido_educacion {
        width: 100%;
        min-height: 100vh;
    }

    .contenido_educacion .educacion_cards {
        flex-direction: column;
        margin-bottom: 3em;
    }

    .card_edu .imagen-edu {
        display: block;
        margin: auto 30px;
    }

    .skills_container {
        width: 100%;
        margin: auto;
        position: relative;
        z-index: 1;
    }

    .skills_container .skills {
        display: grdi;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .skills .card_skill {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-footer {
        margin: 3em 0px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .column-logo {
        margin: auto;
    }

    .column-logo .logo .footer_logo {
        display: block;
        margin:2em  auto;
    }

    .column-logo .name-fo {
        text-align: center;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 580px) {

    .logo-text {
        font-size: 30px;
    }

    .nav-toggle {
        display: block;
        font-size: 28px;
        padding: 0px 20px;
        color: #fff;
    }

    .header .imagen {
        width: 100%;
    }

    .header .imagen .img-perfil {
        max-width: 420px;
        height: 400px;
        object-fit: cover;
    }
}

@media screen and (max-width: 480px) {

    body, html {
        overflow-x: hidden;
    }

    .nav {
        max-width: 100%;
        overflow-x: hidden;
    }

    .nav .nav-logo .logo-text {
        padding: 0em 30px;
        font-size: 27px;
    }
    
    .nav-toggle {
        display: block;
        font-size: 30px;
        padding: 0px 20px;
        color: #fff;
        z-index: 100;
    }

    .show-menu {
        width: 100%;
        position: fixed;
        top: 60px;
        left: 0;
        z-index: 0;
        display: block;
    }

    .header .content {
        padding: 0.78em 2em;
        margin-left: 0;
    }

    .header .content h3 {
        font-size: 30px;
    }

    .header .imagen .img-perfil {
        max-width: 100%;
        object-fit: cover;
    }

    .sobre_mi .container_sobre_mi .sub_sobre_mi {
        margin-right: 0;
    }

    .proyectos .card_pro .card {
        max-width: 380px;
    }

    .contenido_educacion .educacion_cards  {
        max-width: 100%;
    }

    .cont_edu_text .hab-ed, .fecha{
        font-size: 16px;
    }
    
    .container-footer .input_field .contacto_field {
        max-width: 100%;
        
    }
}
