:root {
    --work: "Work Sans", sans-serif;
    --monts: "Montserrat", sans-serif;
    --great: 'Great Vibes', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*::after, *::before {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    width: 100%;
    overflow-x: hidden;
    height: auto;
    background-color: black;
    color: #ffffff;
    position: relative;
}

/* cambio del nav al hacer scroll */
.nav-scroll {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    transition: all 0.3s ease;
    z-index: 100;
}

/* esferas blur */

.blur {
    box-shadow: 0 0 1000px 100px #3960ca;
    position: absolute;
    top: 30%;
    left: 1em;
    z-index: -1;
}

.blur-dos {
    box-shadow: 0 0 1000px 80px #09d8f3;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.blur-tres {
    box-shadow: 0 0 1000px 60px #2a6bf7;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: -1;
}

.blur-four {
    box-shadow: 0 0 1000px 80px #df0596;
    position: absolute;
    top: 3em;
    right: 10px;
    z-index: -1;
}

.blur-pro {
    box-shadow: 0 0 1000px 80px #78eff3;
    position: absolute;
    z-index: -1;
    left: 30px;
}

.blur-five {
    box-shadow: 0 0 1000px 90px #df0596;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.blur-footer {
    box-shadow: 0 0 900px 100px #f10606;
    position: absolute;
    top: 4em;
    left: 1em;
    z-index: -1;
}

.blur-fo {
    box-shadow: 0 0 1000px 80px rgb(2, 150, 155);
    position: absolute;
    bottom: 3em;
    right: 1em;
    z-index: 1;
}

/* fin esferas blur */

.nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.nav-toggle {
    display: none;
    border: none;
    background: none;
    cursor: pointer;
}

.nav .nav-logo .logo-text {
    padding: 0px 20px;
    font-size: 35px;
    font-family: var(--great);
}

.nav .menu {
    display: flex;
    align-items: center;
}

.menu .link {
    list-style: none;
}

.menu .link .item {
    text-decoration: none;
    color: #ffff;
    font-size: 18px;
    margin: 0px 15px;
    position: relative;
    padding-bottom: 0.75rem;
    font-family: var(--monts);
    font-weight: 400;
}

.nav .link .item::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0512ca;
    transition: all 0.3s ease;
}

.nav .link .item:hover::after{
    width: 70%;
}

.show-menu {
    display: block !important;
    max-height: 500px;
    background: rgba(37, 37, 37, 0.3);
    backdrop-filter: blur(20px);
    top: 60px;
    right: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    transition: all 0.3s ease-in-out;
}

.title-sec {
    text-align: center;
    padding: 20px;
    font-size: 28px;
}

.header {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative;
}

.header .content {
    width: 100%;
    margin-left: 4em;
}

.header .content h3 {
    font-size: 40px;
    margin: 20px 0px;
    font-family: var(--monts);
    font-weight: 500;
}

.content .dedica {
    font-size: 19px;
    margin-bottom: 20px;
    font-family: var(--monts);
    font-weight: 300;
}

.content .sub {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 20px;
    font-family: var(--work);
    font-weight: 500;
    margin-right: 29px;
}

.content .btn {
    padding: 10px 3em;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #1111fc;
    color: #ffffff;
    font-size: 17px;
    font-family: var(--monts);
    font-weight: 700;
    transition: all 0.3s ease;
}

.content .btn:hover {
    background-color: #1106aa;
    cursor: pointer;
}

.header .imagen {
    width: 100%;
}

.header .imagen .img-perfil {
    display: block;
    max-width: 500px;
    object-fit: cover;
    margin: auto;
}

.sobre_mi {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 2em;
    position: relative;
}

.sobre_mi .container_sobre_mi {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container_sobre_mi .contenido_texto .name {
    font-size: 30px;
    margin-bottom: 22px;
    font-family: var(--work);
    font-weight: 600;
}

.contenido_texto .sub_sobre_mi {
    font-size: 17px;
    font-family: var(--monts);
    font-weight: 550;
    margin-right: 1em;
}

.container_sobre_mi .sobre-imagen {
    width: 100%;
}

.sobre-imagen .img_sobre_mi {
    max-width: 350px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.proyectos {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    position: relative;
}

.proyectos .card_pro {
    display: flex;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card_pro .card {
    padding: 20px;
    max-width: 400px;
    border-radius: 30px;
    background-color: rgba(244, 244, 244, 0.2);
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: all 0.3s ease;
}

.card:hover {
    background-color: rgba(244, 244, 244, 0.3);
}

.card .imagen-pro {
    width: 100%;
}

.imagen-pro .img-pro {
    object-fit: cover;
    width: 100%;
}

.cont_pro_text {
    margin: 10px 0px;
}

.cont_pro_text .hab {
    font-size: 18px;
    padding: 10px 0px;
    text-align: center;
    font-family: var(--monts);
    font-weight: 500;
}

.cont_pro_text .sub_pro {
    font-size: 17px;
    text-align: center;
    padding: 10px 0px;
    font-family: var(--work);
    font-weight: 600;
}

.btn-pro {
    display: block;
    margin: auto;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: #0512ca;
    transition: all 0.3s ease;
    cursor: pointer;
    font-family: var(--work);
    font-weight: 500;
}

.btn-pro:hover {
    opacity: 0.8;
}

.btn-pro .btn-pro-link {
    text-decoration: none;
    color: #fdfdfd;
}

.link_btn {
    text-decoration: none;
}

.link_btn > .btn_more {
    display: block;
    margin: 20px auto;
    padding: 10px 40px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-size: 17px;
    background-color: #0512ca;
    color: #fdfdfd;
    transition: all 0.3s ease;
}

.btn_more:hover {
    background-color: #424ffa;
    cursor: pointer;
}

.contenido_educacion {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    position: relative;
}

.educacion_cards {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card_edu {
    padding: 10px;
    transition: all 0.3s ease;
    border-radius: 40px;
}

.card_edu:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.card_edu .imagen-edu {
    width: 100%;
}

.card_edu .cont_edu_text {
    text-align: center;
    font-family: var(--monts);
}

.cont_edu_text .hab-ed {
    font-size: 19px;
    margin: 10px 0px;
}

.cont_edu_text .fecha {
    opacity: 0.8;
}

.imagen-edu .img-edu {
    object-fit: cover;
    max-width: 430px;
    padding: 20px;
    border-radius: 40px;
}

.skills_container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    position: relative;
    z-index: 1;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    min-height: 400px;
}

.card_skill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
}

.card_skill .texto {
    font-size: 20px;
    font-family: var(--work);
    font-weight: 800;
    padding-right: 20px;
}

.progre {
    width: 90%;
}

.progress-container {
    width: 90%;
    height: 20px;
    background-color: rgba(56, 55, 55, 0.4);
    position: relative;
    display: inline-block;
    margin: auto;
    border-radius: 20px;
    border: 1px solid transparent;
}

.progress-bar {
    height: 100%;
    background-color: #437b95; /* Color del centro de la barra de progreso */
    width: 0%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    animation: progress-animation 2s ease forwards;  /* Animación de progreso */
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
  }
  
   /* Animación de progreso  */
  @keyframes progress-animation {
    from { width: 0%; }
    to { width: 60%; } /* Cambiar al porcentaje deseado */
  } 

  /* progresos para las demas skills */

  .progress-bar-css {
    height: 100%;
    background-color: #437b95; /* Color del centro de la barra de progreso */
    width: 0%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    animation: progreso-Css 2s ease forwards;  /* Animación de progreso */
  }

  @keyframes progreso-Css {
    from {width: 0%;}
    to {width: 50%;}
  }

  /* js */

  .progress-bar-js {
    height: 100%;
    background-color: #437b95; /* Color del centro de la barra de progreso */
    width: 0%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    animation: progress-animation 2s ease forwards;  /* Animación de progreso */
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
  }
  
   /* Animación de progreso  */
  @keyframes progress-animation {
    from { width: 0%; }
    to { width: 40%; } /* Cambiar al porcentaje deseado */
  } 

  /* git */

  .progress-bar-git {
    height: 100%;
    background-color: #437b95; /* Color del centro de la barra de progreso */
    width: 0%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    animation: progress-animation 2s ease forwards;  /* Animación de progreso */
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
  }
  
   /* Animación de progreso  */
  @keyframes progress-animation {
    from { width: 0%; }
    to { width: 45%; } /* Cambiar al porcentaje deseado */
  } 

  /* react */

  .progress-bar-react {
    height: 100%;
    background-color: #437b95; /* Color del centro de la barra de progreso */
    width: 0%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    animation: progress-animation 2s ease forwards;  /* Animación de progreso */
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
  }
  
   /* Animación de progreso  */
  @keyframes progress-animation {
    from { width: 0%; }
    to { width: 35%; } /* Cambiar al porcentaje deseado */
  } 

  /* python */

  .progress-bar-py {
    height: 100%;
    background-color: #437b95; /* Color del centro de la barra de progreso */
    width: 0%;
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    animation: progress-animation 2s ease forwards;  /* Animación de progreso */
  }
  
  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 23px;
  }
  
   /* Animación de progreso  */
  @keyframes progress-animation {
    from { width: 0%; }
    to { width: 35%; } /* Cambiar al porcentaje deseado */
  } 

  .container-footer {
    width: 100%;
    max-width: 1400px;
    padding: 1em 2em;
    margin: 0px auto;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: auto;
}

.column-logo, .column {
    padding: 1em;
}

.column-logo {
    display: flex;
    flex-direction: column;
}

.column-logo .logo .footer_logo {
    width: 100px;
    margin-bottom: 20px;
    border-radius: 50%;
}

.name-fo {
    font-size: 30px;
    font-family: 'Great Vibes', sans-serif;
}

.saber {
    margin-top: 20px;
}

.column-logo .redes_sociales {
    width: 100%;
    margin: 20px 0px;
    padding: 1em 0px;
}

.redes_sociales > i {
    color: aliceblue;
    margin: 0px 10px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    padding: 15px 20px;
    transition: all 0.3s ease;
}

.redes_sociales > i:hover {
    background-color: rgb(3, 7, 209);
}

.input_field .contacto_field {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 90%;
    margin: auto;
    z-index: 2;
}

.contacto_field .name_input, .email, .mensaje {
    border: 1px solid rgba(120, 120, 120, 0.6);
    padding: 10px 14px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 17px;
    backdrop-filter: blur(10px) saturate(100%) contrast(100%);
    background: rgba(0, 0, 0, 0.2);
    color: aliceblue;
    outline: none;
}

.mensaje {
    resize: none;
}

.btn-enviar {
    display: block;
    margin: auto;
    padding: 10px 40px;
    border: 1px solid transparent;
    background-color: blue;
    color: aliceblue;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-enviar:hover {
    background-color: #1106aa;
}

.btn-enviar:active {
    background-color: #3960ca;
}

.copyright p {
    text-align: center;
    margin: 1.5em 0px;
    font-size: 17px;
} 