:root {
    /* fontt family */
    --great-vibes: 'Great Vibes', sans-serif;
    --monset: 'Montserrat', sans-serif;
    --work: "Work Sans", sans-serif;
    /* colores */
    --white: #fff;
    --azul-lig: #8d8dfa;
    --purple: #800080;
    --bg-skill: #13022b;
    --bg-btn: #13025b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    position: relative;
    background: url(./images/bg-beta.png) no-repeat top / cover;
}

.btn {
    padding: 10px 40px;
    background: var(--azul-lig);
    color: var(--white);
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background: blue;
}

header {
    display: flex;
    justify-content: flex-end;
    margin: 20px 10px;
}

header .log-text {
    display: block;
    text-decoration: none;
    color: var(--white);
    font-size: 25px;
    font-family: var(--monset);
}

.container {
    width: 100%;
    max-width: 882px;
    position: relative;
}

.card {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.card .contenido-pres h1{
    margin-bottom: 10px;
}

.card .contenido-pres p {
    font-size: 18px;
}

.card img {
    width: 150px;
    border-radius: 50%;
}

.line {
    width: 90%;
    height: 1px;
    background: var(--azul-lig);
    display: block;
    margin: auto;
}

.redes {
    margin-top: 30px;
}

.redes i {
    padding: 10px 20px;
    background: var(--azul-lig);
    border-radius: 50%;
    color: aliceblue;
    margin-right: 10px;
}

.redes i:hover {
    background: blue;
}

.title-edu {
    margin-bottom: 20px;
}


/* sobre mi */

.sobre-mi {
    max-width: 80%;
    display: block; 
    margin: auto;
}

.educacion {
    margin-top: 50px;
}

.container-sobre h2 {
    margin: 20px 0px;
}

.sobre-mi .container-sobre .text {
    line-height: 1.4;
    font-size: 18px;
    margin-bottom: 20px;
}

.educacion {
    display: flex;
    flex-direction: column;
}

.educacion .link {
    text-decoration: none;
    color:var(--white);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.link:hover {
    color: #8d8dfa;
    transform: translateX(5px);
}

/* proyectos cards */

.proyectos {
    width: 80%;
    margin: 3em auto;
    display: block;
}

.cards-pro {
    margin: 3em 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-pro {
    max-width: 500px;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: var(--white);
    font-size: 18px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease;
    border-radius: 20px;
}

.card-pro:hover .overlay {
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 0 10px var(--purple);
}

.card-pro  .img-pro {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card-pro .texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

.card-pro .texto button {
    padding: 7px 20px;
    width: 130px;
    margin: 10px auto 0px auto;
    display: block;
}

/* skills */

.skills {
    margin: 4em 0px;
    width: 80%;
    margin: auto;
}

.skills .title {
    margin: 20px 0px;
}

.skills-main {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 50px;
}

.skills-bar {
    margin-bottom: 2.3rem;
}

.skills-bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skills-bar .bar {
    width: 100%;
    height: 20px;
    background-color: var(--bg-skill);
    border: 1px solid gray;
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skills-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--azul-lig);
    border-radius: 25px;
    box-shadow: 0 0 10px 0px var(--purple);
}

.skills-bar .bar .html {
    width: 55%;
    animation: html 2s;
}

.skills-bar .bar .css {
    width: 50%;
    animation: css 2s;
}

.skills-bar .bar .js {
    width: 45%;
    animation: js 3.5s;
}

.skills-bar .bar .git {
    width: 25%;
    animation: git 4s;
}

.skills-bar .bar .react {
    width: 30%;
    animation: react 3s;
}

.skills-bar .bar .python {
    width: 32%;
    animation: python 3s;
}

/* animacion skills */

@keyframes html {
   0% {width: 0;}
   100% {width: 55%;}
}

@keyframes css {
    0% {width: 0;}
    100% {width: 50%;}
 }

 @keyframes js {
    0% {width: 0;}
    100% {width: 45%;}
 }

 @keyframes git {
    0% {width: 0;}
    100% {width: 25%;}
 }
 
@keyframes react {
    0% {width: 0;}
    100% {width: 30%;}
}

@keyframes python {
    0% {width: 0;}
    100% {width: 32%;}
}

/* seccion contacto */

.contacto {
    max-width: 80%;
    margin: auto;
}

.contacto .contacto-text {
    text-align: center;
    padding: 1em;
}

.contacto-text p {
    font-size: 20px;
    background: rgba(255, 255, 255, 0.3);
    width: 300px;
    margin: 20px auto;
    border-radius: 20px;
    color: var(--white);
    padding: 3px;
}

.contacto-text .btn-send {
    padding: 6px 30px;
    background-color: var(--bg-btn);
    color:var(--white);
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-send:hover {
    background-color: var(--azul-lig);
}

.copy {
    text-align: center;
    margin: 20px 0px;
    padding: 20px;
}


