:root {
    /* fontt family */
    --great-vibes: 'Great Vibes', sans-serif; /* cursiva */ 
    --monset: 'Montserrat', sans-serif;
    --work: "Work Sans", sans-serif;
    /* colores */
    --white: #fff;
    --azul-lig: #8d8dfa;
    /* --purple: #800080; */
    --bg-skill: #0c001b;
    /* --bg-btn: #13025b; */
    --bg-blue: #0000ff;
    --bg-black: #0000;
}

*, *::after,
*::before { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}

.container-main {
    padding: 0px 80px;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0px 80px;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .9);
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.8;
}

.nav-menu {
    display: flex;
    position: relative;
    align-items: center;
    gap: 30px;
}

.nav-menu .item .nav-link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.btn-contacto {
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #300268;
    border: none;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.btn-contacto:hover {
    background-color: #0000ff;
    cursor: pointer;
}

.nav-toggle {
    display: none;
}


.nav-toggle .line {
    background: #fff;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease;
}

.nav-toggle.active .one {
    transform: translateY(4px) rotate(45deg);
}

.nav-toggle.active .two {
    display: none;
}

.nav-toggle.active .three {
    transform: translateY(-4px) rotate(-45deg);
}

.nav-menu.active {
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
    background-color: #2d3748f6;
}

/* hero */

.hero {
    width: 100%;
    min-height: calc(100vh + 25px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.blur {
    position: absolute;
    box-shadow: 0 0 400px 80px #1d4ed8;
    z-index: -100;
    top: 35%;
    right: 4%;
}

.hero-texto {
    color: #ffff;
}

.hero-name {
    font-size: 3.4rem;
    font-family: var(--monset);
    font-weight: 500;
    margin-bottom: 20px;
}

.hero-sub {
    font-size: 1rem;
    font-family: var(--monset);
    font-weight: 400;
    margin-right: 20px;
    line-height: 1.5;
    margin-bottom: 35px;
}

.btn-cv {
    padding: 0.5em 5em;
    border: none;
    border-radius: 20px;
    background-color: #300268;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.hero-imagen {
    width: 100%;
}

.hero-img {
    width: 100%;
    max-width: 500px;
    object-fit: cover;
    display: block;
    margin: auto;
}

/* about */

.title-section {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    font-family: var(--monset);
    font-weight: 400;
}

.about .container-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.3rem;
    width: 100%;
    padding: 2em 0px;
    margin: 2em 0em;
}

.about-texto {
    color: #fff;
}

.about-name, .about-dedica{
    margin-bottom: 20px;
}

.about-name {
    font-size: 2.1rem;
    font-family: var(--work);
    font-weight: 500;
}

.about-dedica {
    font-size: 18px;
    font-family: var(--monset);
    line-height: 1.5;
    font-weight: 400;
}

.about-imagen {width: 100%;}

.about-imagen .about-img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
    object-fit: cover;
}

/* proyectos */

.proyectos .cards {
    min-height: 90vh;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 10px;
}

.card .contenido {
    color: #fff;
    text-align: center;
    padding: 15px 20px;
}

.contenido .title-card, .sub-card {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.card .img-card {
    width: 100;
    display: block;
    object-fit: cover;
    margin: auto;
    max-width: 400px;
}

/* contacto */

.contacto {
    text-align: center;
    padding: 20px 0px;
}

.contacto h3 {
    font-size: 2rem;
    color: var(--white);
    font-family: var(--work);
    font-weight: 400;
}

.contacto .contacto-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}

.email {
    color: #fff;
    font-size: 20px;
    font-family: var(--monset);
    font-weight: 400;
}

.btn-send {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #300268;
    cursor: pointer;
    margin-left: 15px;
    transition: all 0.3s ease;
}

.btn-send:hover {
    background-color: #1d4ed8;
}

.btn-send i {
    color: #fff;
}

.redes {
    display: inline-flex;
    gap: 30px;
    margin-bottom: 30px;
}

.redes i {
    font-size: 30px;
    color: #fff;
    transition: all 0.3s ease;
}

.redes a:hover i {
    color: #0505d0;
}

@media screen and (max-width: 992px) {
    .container-main {
        padding: 0px 20px;
    }

    .header {
        padding: 0px 30px;
    }
}


@media (width <= 768px) {

    .container-main {
        padding: 0 25px;
    }

    .nav-menu {
        position: absolute;
        top: 60px;
        right: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 35px;
        padding: 40px;
        transition: scale(0.9);
        transform-origin: top right;
        opacity: 0;
        pointer-events: none;
        list-style: none;
    }

    .nav-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        gap: 6px;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 2;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        margin: 80px 0px;
    }

    .hero-name,
    .hero-sub,
    .btn-cv {
        margin-bottom: 30px;
        margin-right: 0;
    }

    .hero-texto {
        text-align: center;
    }

    .hero-imagen {
        padding-top: 3.5rem;
    }

    .container-about {
        flex-direction: column;
    }

    .about-texto {
        text-align: center;
    }

    .title-section {
        padding: 20px 0px;
    }

    .proyectos .cards {
        grid-template-columns: 1fr;
    }

    .card img {
        max-width: 350px;
        padding: 0;
        margin: 0 auto;
    }

    .contacto {
        margin: 30px 0px;
    }

}

